body {
	position: relative;
	margin: 0 auto;
	padding: 0% 0%;
}

.full-height {
	height: 100vh;
}

div#app::after {
	content: "";
	position: fixed;
	background-image: url("/images/Jacksonville_Skyline_Night_Panorama_Digon3.jpg");
	background-size:100% 100%;
	background-position: center center;
	background-repeat:no-repeat;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.container {
	position: relative;
}

.showTrip {
	background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center center !important;
}
.return_messages {
    position: fixed;
	display: none;
    z-index: 3;
    right: 35%;
    top: 10%;
    width: 25%;
    background: green;
    color: whitesmoke;
    border-radius: 5px;
}
.return_messages h2 {
	text-align: -webkit-center;
    text-align: center;
    padding: 2% 0%;
	background: darkgreen;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.loader {
	border-top: 16px solid blue;
	border-bottom: 16px solid blue;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	margin: 100px auto;
}

.flashMessage {
	background: darkcyan;
    color: wheat;
    position: fixed;
    z-index: 20;
    padding: 20px;
    border-radius: 10px;
    top: -150px;
    left: 40%;
    width: 25%;
	text-align: -webkit-center;
	text-align: center;
}

.errorMessage {
	background: darkred;
    color: whitesmoke;
    position: fixed;
    z-index: 20;
    padding: 20px;
    border-radius: 10px;
    top: -150px;
    left: 40%;
    width: 25%;
	text-align: -webkit-center;
	text-align: center;
}

.return_messages span {
	text-align: justify;
    padding: 5%;
    display: block;
}
.pastVacations {
        background: linear-gradient(white, #868686 3%, #868686, whitesmoke);
	margin-top: 75px;
}
#mobile_action_btns {
	display: none;
}
.maine_modal_videos {
    position: fixed;
    max-height: 500px;
    width: 90%;
    top: 15%;
    left: 0;
    z-index: 10;
    margin: 0% 5%;
    overflow-y: auto;
}
.videos_modal_content {
    position: relative;
}
.indVideo {
    position: relative;
    display: -webkit-inline-box;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 300px;
    border: solid;
    border-radius: 10px;
    background: whitesmoke;
}
.indVideo video {
    max-width: 100%;
    height: 300px;
    width: 300px;
}
.message {
    background: rgba(0,100,0,0.75);
    color: white;
    border-radius: 10px;
    border: solid 2px dimgray;
    box-shadow: 0px 0px 10px green;
    margin: 2% 0%;
}
.errors {
    background: rgba(139, 0, 0, 0.75);
    color: white;
    border-radius: 10px;
    border: solid 2px dimgray;
    box-shadow: 0px 0px 10px red;
    margin: 2% 0%;
}
.message ul, .errors ul {
    padding: 0% 3%;
    list-style: none;
    text-align: -webkit-center;
    text-align: center;
}
.adminDiv {
	/* max-width: 80%; */
	/* width: 80%; */
	/* min-height: 100%; */
	/* left: 20%; */
	/* top: 9%; */
	/* margin: 5% 0% 0% 20%; */
	/* padding: 5% 0% 2% 0%; */
	/* overflow: auto; */
	/* position: relative; */
}
.divider {
	width: 70%;
    padding: 0px;
    margin: 50px auto;
    border: solid #c7c7c7 2px;
}
h1.pageTopicHeader {
    padding: 0% 1%;
	color: whitesmoke;
}
.trip_location_month select, .trip_location_year select, .trip_completed_div select, .show_trip_div select, .editTripInfo textarea, .editTripInfo input {
    padding: 1% 0% 1% 3%;
    border: inset 2px;
}
.custom-file {
    max-width: 100%;
}
#location_page_header h1 {
    margin: 2% 1%;
}
#navi {
	position: fixed;
	max-height: 100%;
	min-height: 100%;
	width: 20%;
	max-width: 20%;
	left: 0px;
	top: 0px;
	background: url("../images/disney_world2.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
ul#navi_list {
    font-size: 150%;
    position: relative;
    margin: 0% 5%;
    padding: 10% 0% 10% 5%;
}
ul#navi_list::after {content: "";background: rgba(0, 0, 0, 0.5);position: absolute;top: 0;left: 0;bottom: 0;right: 0;z-index: -1;border-radius: 10px;}
ul#navi_list > li {
    list-style: none;
    color: white;
    margin: 3% 0%;
}
ul#navi_list > li > ul {
    color: white;
}
ul#navi_list li a {
    color: inherit;
    text-shadow: 0px 2px 3px black;
}
h1#admin_page_header {
	position: fixed;
	top:0px;
	left: 0px;
	padding: 1% 8% 1.6%;
	margin: 0% 0% 0%;
	color: whitesmoke;
	background: linear-gradient(to right, #8a8aff, #ff8787);
	max-width: 100%;
	width: 100%;
	font-size: 250%;
	z-index: 2;
}
div#admin_page *:not(.oi) {
    font-family: Trocchi;
}

.oi {
	width: initial !important;
}

.editTripInfo .oi {
	margin: 0% 2% 0% -4.6% !important;
}

#about_us_div, .panel-body {
    background: cadetblue;
	color: whitesmoke;
    padding: 15% 10%;
	font-size: 115%;
}
p.noValueMessage {
    padding: 0% 0% 0% 3%;
}
footer {
	font-family: 'Lobster', cursive;
}

.card-img-top {
	max-height: 350px;
}

a {
	display: inline-block;
	text-decoration: none !important;
}
button:focus {
	outline:0 !important;
}
button:hover {
	cursor: pointer;
}
.maine_overlay, .maine_modal, .maine_modal_confirmation_box, #terms_and_conditions, #loading_image, #home_content {
	display: none;
}
.modal_confirm {
    position: fixed;
	display: none;
    height: 30%;
    width: 10%;
    top: -3%;
    right: 5%;
    background-color: white;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	border: solid 1px green;
    background-color: aliceblue;
    padding: 0% 1%;
}
p.modal_confirm_content {
    height: 100%;
    font-size: 150%;
    padding: 15% 0% 0% 0%;
}
div.maine_modal #registration_form label, div.maine_modal #registration_form input[type="text"] {
    min-width: 49%;
    display: -webkit-inline-box;
    display: inline-block;
    text-align: -webkit-left;
    text-align: left;
}
#main_content {
	display: inline-block;
}
#header {
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 450%;
	text-shadow: 5px 5px 5px darkslategray;	
}
#header p {
	text-shadow: 5px 5px 5px darkslategray;	
	margin: 2% 0% 0% 0%;
}
.main_content_class {
	background-color: white;
	overflow:hidden;
	opacity: 0.95;
	padding: 0% 0% 1% 0%;
}
.payPalBtnDiv {
    width: 30%;
    margin: 0% 35%;
    font-size: 125%;
}
.payPalBtnDiv select {
    color: black;
}
.payPalDiv .signedUpContent {
    background: rgba(64, 60, 56, 0.5);
    padding: 2%;
    margin: 0% 15% 1.5%;
    border: solid 1.5px;
    border-radius: 5px;
    font-size: 115%;
    text-align: -webkit-center;
    text-align: center;
}
.payPalDiv .signedUpContent .signedUpBio {
    font-weight: 600;
    font-style: italic;
}
.orDivider {
    text-align: -webkit-center;
    text-align: center;
}
.payPalDiv p {
    width: 50%;
    margin: 1% 25% 3%;
    text-align: -webkit-auto;
    text-align: justify;
}
.addInput {
	margin-left: 35.4%;
	transition: .5s;
}
input[type="image"] {
    width: 35%;
    border: none;
    margin: 0 auto;
    display: block;
}
button.inclusionsBtn {
    background: brown;
    max-width: 65%;
}
.pastVacationsHeader, .upcomingVacationsHeader {
    margin: 75px 0px;
}
.pastVacationsHeader h3, .upcomingVacationsHeader h3 {
    margin: 0 auto;
    text-align: -webkit-center;
    text-align: center;
    font-size: 215%;
    font-family: 'Trocchi', serif;
}
ul.termsInclusions {
    max-width: 100%;
    text-align: -webkit-left;
    text-align: left;
    font-size: 150%;
	font-family: 'Trocchi', serif;
}
input#other_location2 {
    margin: 0% 2%;
}

.trip_edit_div {
    margin: 2% 0%;
    padding: 2% 3%;
    background-color: rgba(48, 48, 48, 0.35);
    border-radius: 10px;
    font-size: 100%;
    position: relative;
    z-index: 1;
}
.editTripInfo span:not(.custom-file-control) {
    width: 37%;
    display: inline-block;
    border-radius: 5px;
    font-size: 130%;
	color: white;
}
.editTripInfo select {
    width: 42%;
    display: inline-block;
    border-radius: 5px;
    font-size: 130%;
}
.editTripInfo input, .editTripInfo textarea {
    width: 39.5%;
    /* padding: 1% 0% 1% 3%; */
    font-size: 130%;
}
.editTripInfo input[type="file"] {
    color: white;
}
.editTripInfo input.tripFlyerChange {
    width: 48%;
}
.trip_location_div:nth-of-type(odd) {
    background: antiquewhite;
    border-left: double;
}
.trip_location_header, .trip_location_header h3 {
    padding: 1% 1%;
    color: whitesmoke;
	z-index: 1;
    font-size: 175%;
	position: relative;
}
.trip_location_div input[type="submit"] {
    position: fixed;
    min-width: 140px;
    top: 43.5%;
    right: 5%;
    z-index: 4;
}
.trip_location_header h2 {
    margin: 0%;
}
.editTripInfo {
    display: -webkit-inline-box;
    display: inline-block;
    max-width: 100%;
    min-width: 100%;
    position: relative;
}

.terms_cost_div.editTripInfo {
    background: #00ffff47;
    border-radius: 5px;
}
.terms_payment_div.editTripInfo {
    background: rgba(95, 158, 160, 0.55);
    border-radius: 5px;
}.terms_inclusions_div.editTripInfo {
    background: rgba(0, 255, 255, 0.55);
	border-radius: 5px;
}
.terms_conditions_div.editTripInfo {
    background: rgba(0, 191, 255, 0.55);
    border-radius: 5px;
}
.allPicturesDiv {
    display: inline-block;
    position: relative;
    width: 17.7%;
    border-radius: 10px;
    margin: 0.5% 1%;
    padding: 0%;
}
.allPicturesDiv img {
    max-width: 100%;
    max-height: 200px;
    height: 100%;
    border-radius: 10px;
    margin: 0% 0% -1%;
    border: solid 1.5px;
    box-shadow: 0px 0px 10px gray;
}
.allPicturesDiv .pictureCaption {
    width: 98%;
    margin: 0% 0%;
    position: absolute;
    left: 0.5%;
    bottom: 1%;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
}
.addNewTrip {
    margin: 6% 10%;
	padding: 2%;
    background: linear-gradient(to right, #8a8aff, #ff8787);
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: 0px 0px 10px darkcyan;
    font-size: 135%;
    position: relative;
}
.addPictures {
    margin: 2% 28%;
}
.addPictures input[type="submit"] {
    max-width: 50%;
	margin: 5px 0px;
}
.newActivities {
	padding: 0% 10% 0%;
}
.newUser {
	padding: 0% 16% 0%;
}
.editAdminInput span {
    min-width: 35%;
    display: -webkit-inline-box;
}
.editAdminInput input {
    min-width: 61%;
}
.editAdminInput select {
    min-width: 63.8%;
}
.newActivities .newIndActivity input {
	padding: 0.5% 1%;
	border-radius: 5px;
	width: 30.3%;
}
.newUser .newUserFirst input, .newUser .newUserLast input, .newUser .newUserEmail input, .newUser .newUserNotes textarea, .newUser .newAdminInput input {
	width: 97%;
	font-size: 115%;
}
.newUser .newAdminInput select {
    font-size: 115%;
    width: 99.9%;
}
.newUser .newAdminInput input[type="submit"], #all_users .newAdminInput input[type="submit"] {
    margin: 4% 20%;
    padding: 1%;
    width: 60%;
}
.newUser .newUserNotes textarea {
}
.newUser .newUserPhone input.profileInputPhone1,
.newUser .newUserPhone input.profileInputPhone2,
.newUser .newUserPhone input.profileInputPhone3 {
	padding: 0.5% 1%;
	margin: 0.3% 0%;
	border-radius: 5px;
	width: 29.55%;
	max-width: 30%;
}
span.phone_par_span {
    width: 1%;
    display: -webkit-inline-box;
}
.newActivities .newIndActivity input[type="date"] {
	padding: 0% 1%;
	border-radius: 5px;
}
form.addActivity input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 6% 11% 0% 0%;
    padding: 0.5%;
    border-radius: 5px;
    border: outset 2px;
}
form.addUser input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5% 16% 0% 0%;
    padding: 1%;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: outset 2px;
}
form.addUser, form.addActivity {
    position: relative;
}
.tripUsers .editUser {
	position: relative;
}
.tripUsers .editUser table, .tripUsers .editUser tr, .tripUsers .editUser th, .tripUsers .editUser td {
    border: solid 1px black;
    border-collapse: collapse;
    position: relative;
}
.firstTableRow th:first-of-type {
    border-top-left-radius: 10px;
}
.firstTableRow th:last-of-type {
    border-top-right-radius: 10px;
}
.tripUsers .editUser table input {
    max-width: 97%;
    border: none;
    padding: 1% 0%;
    text-overflow: ellipsis;
}
.tripUsers .editUser table textarea {
    max-width: 95%;
    border: none;
    padding: 1% 0%;
    vertical-align: middle;
}
.tripUsers .editUser input[type="submit"] {
    position: absolute;
    top: -1%;
    left: -14%;
    max-width: 13%;
    width: 13%;
    white-space: normal;
}
.tripEvents, .tripUsers {
    margin: 2% 0% 2%;
    padding: 2% 10%;
}
.tripEvents .editActivity input {
    text-align: -webkit-center;
    text-align: center;
    max-width: 90%;
    padding: 1.5% 0%;
    border: solid 1px;
}
.editTripInfo .newTripPhoto {
	height: 300px;
	width: 41.5%;
}
.pageConfirmationTable .tripUsers {
    /* max-width: 60%; */
    /* margin: 2% 20% 4%; */
    /* padding: 1% 0%; */
}
.pageConfirmationTable .tripUsers table {
    width: 70%;
    margin: 0% 15%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px black;
}
.pageConfirmationTable .tripUsers table tr:nth-of-type(even) {
    background: bisque;
}
.pageConfirmationTable .tripUsers table tr:nth-of-type(even) td:first-of-type {
    border-right: solid 2px white;
}
.pageConfirmationTable .tripUsers table tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}
.pageConfirmationTable .tripUsers table tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}
.pageConfirmationTable .tripUsers table tr:nth-of-type(odd) {
    background: white;
}
.pageConfirmationTable .tripUsers table tr:nth-of-type(1) {
    background: none;
}
.pageConfirmationTable .tripUsers table tr:nth-of-type(1) th, .pageConfirmationTable .tripUsers table caption {
    background: darkgreen;
    color: white;
    padding: 1% 0%;
    font-weight: 600;
}
.pageConfirmationTable .tripUsers table tr:nth-of-type(1) th {
    border-top: solid white 2px;
}
.pageConfirmationTable .tripUsers table tr:nth-of-type(1) th:first-of-type {
    border-right: solid white 2px;
}
.pageConfirmationTable .tripUsers table caption {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
.removeIndPicture {
    max-width: 29%;
    width: 28.9%;
    min-height: 300px;
    display: -webkit-inline-box;
    display: inline-block;
    position: relative;
    /* display: table; */
    padding: 0% 0%;
    margin: 1% 1.9%;
    border-radius: 10px;
    border: solid 2px;
    box-shadow: 0px 0px 10px black;
}
.removeIndPicture h3 {
    max-width: 90%;
    width: 90%;
    display: inline-block;
    text-align: -webkit-left;
    text-align: left;
    padding: 0% 0% 0% 2%;
}
.removeIndPicture img {
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 300px;
    margin-bottom: -1%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.removeIndPicture input {
    display: -webkit-inline-box;
}
.editSelect, .pictureSelect, .userSelect {
	padding: 0.2% 0%;
	width: 30%;
	margin: 0% 35% 2%;
	border-radius: 5px;
	border: solid 2px;
	font-size: 140%;
}
#pictures_page_header input[type="submit"] {
    position: absolute;
    top: 48%;
    right: 10%;
}
#pictures_page_header {
    position: relative;
}
.tripEvents table {
    width: 100%;
    table-layout: fixed;
    text-align: -webkit-center;
    text-align: center;
    margin: 0% 0% 0%;
    font-size: 125%;
}
.tripUsers table {
    width: 100%;
    table-layout: fixed;
    text-align: -webkit-center;
    text-align: center;
    margin: 0% 0% 0%;
    font-size: 125%;
}
.tripUsers .editUser table {
    border-radius: 10px;
}
button.cancelSave {
	border-radius: 5px;
	border: outset 2px;
	width: 98%;
	background-color: crimson;
	color: white;
	border-color: darkred;
}
.maine_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 10;
}
.maine_overlay_pictures {
    position: absolute;
    /* display: none; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.90);
    z-index: 10;
}
.maine_modal_error {
    display: none;
    position: fixed;
    width: 17%;
    max-height: 40%;
    min-height: 20%;
    top: 5px;
    left: 5px;
	z-index: 10;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
.maine_modal, .maine_modal_confirmation_box {
    width: 40%;
    border: 3px outset;
    position: fixed;
    top: 8%;
    left: 30%;
    padding: 0%;
    border-radius: 5px;
    text-align: center;
	box-shadow: 0px 0px 20px black;
    z-index: 11;
	overflow-y: auto;
	background: linear-gradient(90deg, white, white 75%, gray 100%);
}
.maine_modal_delete {
    position: fixed;
    top: 10%;
    width: 50%;
    left: 0%;
    background-color: white;
    z-index: 11;
    margin: 0% 25%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
	display: none;
}
.maine_modal_picture {
    /* display: none; */
    position: relative;
    width: 42%;
    z-index: 10;
    margin: 0% 29%;
}
.closeBtn {
    position: absolute;
    right: 0%;
    top: 0%;
    min-height: 20px;
	max-height: 25px;
    width: 5%;
    z-index: 12;
    font-size: 130%;
    background-color: initial;
    border: none;
    color: white;
}
.closeBtn:hover {
	text-shadow: 2px 2px 2px red;
}
.addModalPic {
	background: url("../images/Montego_Bay_3.jpg") !important;
	background-size:cover !important;
	background-repeat:no-repeat !important;
	background-position:center center !important;
}
.maine_overlay_pictures .closeBtn {
    position: fixed;
    right: 15px;
    top: 10px;
    width: 5%;
    z-index: 12;
    font-size: 185%;
    background-color: initial;
    border: none;
    color: white;
}
.maine_modal_picture p.additionalPictures {
    position: fixed;
    z-index: 11;
    color: white;
    width: 50%;
    top: 0%;
    left: 0%;
    margin: 0% 23%;
    padding: 1.5%;
    text-align: -webkit-center;
    text-align: -webkit-center;
}
.maine_modal_picture p.additionalPictures a.mailToLink {
    text-decoration: underline;
    color: #DDDDDD;
}
.confirm_modal_title { 
	background: linear-gradient(90deg, white, white 75%, gray 100%);
    color: black;
    margin: 0%;
    padding: 3%;
    font-size: 150%;
}
.modal_title {
    background: linear-gradient(90deg, white, white 75%, gray 100%);
    color: black;
    margin: 0%;
    padding: 3% 0%;
    font-size: 150%;
    width: 100%;
}
.error_modal_title {
    font-size: 110%;
    padding: 2% 0%;
    margin: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: -webkit-center;
    text-align: center;
    background-color: darkred;
    color: white;
}
.error_modal_content {
    text-align: -webkit-center;
    text-align: center;
}
.errorBorder {
	border: solid 2px darkred;
}
.delete_modal_title {
    background-color: darkred;
    color: white;
    text-align: -webkit-auto;
    text-align: center;
    margin: 0;
    padding: 1% 0%;
    font-size: 165%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.delete_modal_content {
	font-size: 120%;
    text-align: -webkit-center;
    text-align: center;
    margin: 2% 0% 8%;
}
.verificationMessage {
	font-size: 125%;
}
.completedEvent {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 2;
  color: white;
  border-radius: 10px;
}
.completedEvent::after {
  content: "";
  background: black;
  opacity: 0.90;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  z-index: -1;
  border-radius: 10px;
}
.status_complete {
  text-align: center;
  font-size: 350%;
  margin: 5% 0% 0% 0%;
}
div#suggestion_form ul {
    list-style: none;
}
a.pics_link, a.videos_link {
    margin: 1.5% 20%;
    text-align: center;
    display: inline-block;
    width: 60% !important;
    max-width: 100%;
    font-size: 130%;
    border: dashed 3px;
    border-radius: 5px;
    padding: 2% 0% !important;
	color: white;
}
#confirmation_form {
	background-color: white;
	border-radius: 10px;
	margin: 5%;
	padding: 1% 5%;
}
#question_confirmation_form {
    border-radius: 10px;
    margin: 5%;
    padding: 1% 5%;
}
#payment_plan, #terms_and_conditions {
	background-color: darkred;
	opacity: 0.8;
	font-size: 130%;
	padding: 1% 0% 0% 2%;
	color: whitesmoke;
}
#terms_and_conditions p {
	margin: 0.2% 0% 0% 0%;
}
.terms {
	text-align: center;
	font-size: 150%;
	margin: 0%;
	padding: 0.1% 0%;
}
.remove_terms, .add_terms {
	text-align: center;
	margin: 1% 0% 0%;
	font-size: 125%;
}
.remove_terms {
	padding: 3% 0%;
}
#payment_plan a, #terms_and_conditions a {
	color: white;
}
div.eUser_form {
    display: none;
}
td.editNotes {
    max-width: 200px;
}
td.editNotes .eNotes {
    max-width: 95%;
    background-color: transparent;
    border: inset 2px;
}
.red {
	border: solid 2px red;
}
#home_page #home_btn {
	background: linear-gradient(whitesmoke, gray); 
	border:solid 1px gray;
}
		
.blurry_border {
	box-shadow: 0px 0px 25px blue;
	border: solid 1px;
	border-radius: 5px;
}
p.event_header {
	text-align: center;
	font-size: 500%;
	color: white;
	margin: 1% 0%;
	position: relative;
	z-index: 1;
}
	
p.event_date {
	text-align: center;
	font-size: 300%;
	margin: 0% 0% 0% 0%;
	color: white;
	position: relative;
	z-index: 1;
}
	
p.more_info {
	text-align: center;
	font-size: 125%;
	color: white;
	margin: 5% 0% 2% 0%;
	position: relative;
	z-index: 1;
}
#contact {
	padding: 1%;
	position: relative;
}
.contact_div {
  margin: 3% 0%;
  width: 100%;
  display: inline-block;
}
div#contact2_content img, div#contact1_content img {
    width: 100%;
}
div#contact2_content p:last-of-type {
    margin: 0;
    background-color: #59777F;
    border-left: solid 1px #374043;
    border-right: solid 1px #BCC8CC;
    border-bottom: solid 1px #374043;
    color: white;
    font-size: 120%;
}
div#contact2_content p:first-of-type {
    margin: -1.2% 0% 0%;
    background-color: #59777F;
    color: white;
    border-top: solid 1px #485E65;
    border-left: solid 1px #374043;
    border-right: solid 1px #BCC8CC;
    font-size: 150%;
}
div#contact1_content p:last-of-type {
    margin: 0;
    background-color: #A7896F;
    border-left: solid 1px #BE906C;
    border-right: solid 1px #79715E;
    border-bottom: solid 1px #827668;
    color: white;
    font-size: 120%;
}
div#contact1_content p:first-of-type {
    margin: -1% 0% 0%;
    background-color: #A7896F;
    border-left: solid 1px #BE906C;
    border-right: solid 1px #807464;
    border-top: solid 1px #7B7261;
    color: white;
    font-size: 150%;
}
p#signup_ny, p#signup_cruise, p#signup_cali{
	text-align: center;
	text-align: -webkit-center;
	font-size: 124%;
	margin: 5% 0% 0% 0.5%;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: lightsteelblue;
	padding: 0% 0% 0% 0%;
	width: 99%;
}
#suggestion_form {
	text-align: webkit-left;
	text-align: left;
}
#suggestion_form  span {
	margin: 0% 0% 0% 2%;
}
#home_btn {
	top: 1%;
}
#question_btn {
	top: 11.8%;
}
#suggestion_btn {
	top: 22.8%;
}
#contact_us_btn {
	top: 33.8%;
}
#about_us_btn {
	top: 44.8%;
}
#admin_page_btn {
	top: 55.8%;
}
.actionBtns {
	width: 100%;
	opacity: 0.9;
	color: #343a40;
	border: outset 2px cadetblue;
	background: linear-gradient(rgba(245, 245, 245, 0), whitesmoke 75%, cadetblue);
	transition: .5s;
}
.actionBtns:hover {
	border: inset 2px cadetblue;
	background: linear-gradient(whitesmoke, whitesmoke, cadetblue);
	/* -webkit-animation-name: home_page; */ /* Chrome, Safari, Opera */
	/* -webkit-animation-duration: 1s; */ /* Chrome, Safari, Opera */
	/* -webkit-animation-fill-mode: forwards; */
	/* animation-name: home_page; */
	/* animation-duration: 1s; */
	/* animation-fill-mode: forwards; */
}
/* Chrome, Safari, Opera 
@-webkit-keyframes home_page {
	from {background-image: linear-gradient(rgba(245, 245, 245, 0), whitesmoke 75%, cadetblue);}
	to {background: linear-gradient(whitesmoke, whitesmoke, cadetblue);}
}*/
#home_content{
	opacity: 0.9;
	margin: 2% 0%;
	padding: 1%;
}
.confirmation_form {
	min-height: 100px;
	width: 83%;
	overflow: auto;
	opacity: 0.8;
	background-color: white;
	border-radius: 10px;
	margin: 9% 0% 0% 8%;
	padding: 1%;
}
.pictureButton {
	font-family: 'Lobster', cursive;
    background: -moz-linear-gradient(whitesmoke, cadetblue);
    background: -o-linear-gradient(whitesmoke, cadetblue);
    background: -webkit-linear-gradient(whitesmoke, cadetblue);
    background: linear-gradient(whitesmoke, cadetblue);
    position: relative;
    overflow: hidden;
	padding: 10% 1%;
    margin: 1% 0%;
	width: 100%;
    max-width: 100%;
	font-size: 250%;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: -webkit-center;
	text-align: center;
    display: -webkit-inline-box;
    display: inline-block;
    border: solid 2px;
    border-radius: 15px;
}

.pictures_east_and_west_btns {
	display: list-item;
	overflow: auto;
	width: 16%;
	float: left;
	margin: 0%;
	background: cadetblue;
	opacity: 0.9;
	padding: 0% 0.5%;
	font-family: "Lobster", cursive;
	position: relative;
}
.pictures_east_and_west_btns p {
	font-size: 131%;
	text-align: center;
}
.whats_next_w {
	margin: 6.3% 15%;
	max-width: 80%;
	width: 70%;
	max-height: 60%;
	z-index: 1;
	border-radius: 10px;
	position: relative;
	font-family: 'Trocchi', serif;
	box-shadow: 0px 0px 10px black;
}
.whats_next_w:hover {
  box-shadow: 0px 0px 20px white;
}
.eventDiv {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 100% 75% !important;
    border-radius: 10px;
    position: relative;
    -webkit-animation-name: individualDivExit; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
	-webkit-animation-fill-mode: forwards;
	animation-name: individualDivExit;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
.eventDiv:hover {
	-webkit-animation-name: individualDivEnter; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
	-webkit-animation-fill-mode: forwards;
	animation-name: individualDivEnter;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
/*Standard syntax*/
@keyframes individualDivEnter {
	from {background-position: 100% 75%;}
	to {background-position: 100% 50%;}
}
/*Standard syntax*/
@keyframes individualDivExit {
	from {background-position: 100% 50%;}
	to {background-position: 100% 75%;}
}
.eventDiv::after {
	content: "";
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 10px;
	z-index: 0;
}
.west_calendar {
	color: white;
	border-radius: 15px;
	opacity: 0.9;
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;
	font-size: 125%;
	z-index: 1;
	position: relative;
	padding: 0% 0% 2% 0%;
	margin: 0% 0% 0% 0%;
}
.west_calendar th, .east_calendar th {
	min-width: 25%;
	text-align: center;
	font-size: 155%;
}
th#date_data, th#event_data {
	width: 25%;
}
.middle_data {
	border-right:solid 2px;
	border-left:solid 2px;
}
.header_data {
	border-bottom:solid 2px;
}
.form_tables {
	position: absolute;
	max-width: 30%;
	top: 26%;
	right: 14.5%;
	background-color: floralwhite;
	opacity: 0.99;
	border-radius: 12px;
}
#submit_question, #submit_suggestion {
    background: linear-gradient(whitesmoke, cornflowerblue);
    border: outset darkgrey;
}
footer {
    background: linear-gradient(black, #0B0B0B, #0B0B0B);
    color: white;
}
footer p {
    margin: 0;
    padding: 0.2% 0%;
    font-size: 125%;
    text-align: -webkit-center;
    text-align: center;
}
footer span {
	margin: 0% 9%;
    max-width: 100%;
}
td.form_button_width {
	display: inline;
}
button#see_contacts_btn {
	width: 100%;
	opacity: 0.9;
	font-size: 138%;
}
#cruise_submit {
	display: none;
	width: 98%;
	border-radius: 7px;
	margin: 0% 0% 1% 1%;
	padding: 5px 0px;
	background: linear-gradient(snow, cadetblue);
}
#pay_cruise {
	display: none;
	width: 98%;
	border-radius: 7px;
	margin: 0% 0% 2% 1%;
	padding: 5px 0px;
	background: linear-gradient(snow, cadetblue);
}
video#price_is_right {
    width: 100%;
    padding: 0% 0% 0%;
	display: none;
}
button#delete_modal_no_btn {
    width: 20%;
    font-size: 115%;
    border: outset 3px;
    border-radius: 5px;
    margin: 1% 24% 1% 5%;
}
button#delete_modal_yes_btn {
    width: 20%;
    font-size: 115%;
    border: outset 3px;
    border-radius: 5px;
    margin: 1% 5% 0% 24%;
}
form#registration_form {
    margin: 2% 15%;
}
ul#rf_ul {
    list-style: none;
    padding: 0%;
    width: 100%;
    margin: 0%;
}
li.li_childAge {
    color: darkred;
}
div#disney_registration_form p {
    padding: 2% 3%;
    margin: 0%;
}
form#registration_form .labelRF, 
form#registration_form .rfInput {
    width: 49%;
    display: -webkit-inline-box;
	display: inline-block;
	text-align: left;
}
form#registration_form select {
    width: 49.7%;
    margin: 0% 0% 0% -1.2%;
}
button#confirm_registration {
    width: 50%;
    margin: 5% 25%;
    font-size: 110%;
    border-radius: 5px;
    border: outset 3px #2486B9;
}
div#bed_type_options {
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
}
div#bed_type_options span {
    padding: 0% 2%;
}
div#confirmation_form p {
    margin: 0.5% 0%;
}
/*Admin Page*/
#admin_page_login {
    background: url("/e2w/public/images/travelBgrd2.jpg");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: initial;
    margin: initial;
    padding: initial;
}
div#admin_login {
    position: fixed;
    width: 35%;
    left: 31%;
    top: 25%;
    background-color: whitesmoke;
    border: solid 1px buttonface;
    border-radius: 10px;
    padding: 1% 2%;
    opacity: 0.9;
    box-shadow: 0px 0px 20px black;
}
h1#admin_header {
    text-align: -webkit-center;
    text-align: center;
    font-size: 275%;
    background: -webkit-linear-gradient(#111418, #565656);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0;
    padding: 2% 0%;
}
div#admin_login input:not(#admin_login_btn) {
display: inline-block;
min-width: 25%;
text-align: -webkit-center;
text-align: center;
font-size: 95%;
margin: 0.5% 0%;
border-radius: 5px;
}
input.adminPin {
    font-size: 70%;
}
div#admin_login ul {
    list-style: none;
    padding: 0%;
    text-align: -webkit-center;
    text-align: center;
    font-size: 150%;
}
input#admin_login_btn {
    color: whitesmoke;
    width: 26%;
    border-radius: 5px;
    border: outset 2.5px #5D8493;
    background-color: #51565A;
    font-size: 110%;
    padding: 0.5% 0%;
    margin: 0% 37%;
}
h2#login_div_header {
    text-align: -webkit-center;
    text-align: center;
    font-size: 225%;
    margin: 0% 0% 0% 0%;
}
h1.confirmed_users_header {
    margin: 0% 0% 0%;
    padding: 3% 0%;
}
div#confirmed_users_status1 h1.confirmed_users_header {
    color: white;
}
div#confirmed_users_status2 h1.confirmed_users_header {
    color: white;
}
div#all_questions h1.confirmed_users_header {
    color: black;
}
table#suggestions_table {
    width: 35%;
    /* max-height: 800px; */
    /* overflow: auto; */
    margin: 0% 10% 0%;
    table-layout: fixed;
    text-align: -webkit-center;
    text-align: center;
    font-size: 115%;
}
div#suggestion_results_div {
    border: solid 2px;
    border-radius: 10px;
	background: linear-gradient(bisque, bisque 80%, black 92%);
}
div.indResult span.resultLocation {
    width: 50%;
    display: -webkit-inline-box;
    display: inline-block;
}
div.indResult span.resultPercent {
    width: 50%;
    display: -webkit-inline-box;
    display: inline-block;
    text-align: -webkit-right;
    text-align: right;
}
div#suggestion_results_header h2 {
    margin: 0% 0% 3%;
    padding: 1% 0%;
    background: bisque;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: solid 1.5px;
}
.suggestionResultsPercent {
    margin: 0% 20% 9%;
}
div.indResult {
    margin: 1% 0%;
    padding: 0% 0% 0%;
    font-size: 110%;
}
div#confirmed_users_status1 form, div#confirmed_users_status2 form {
    max-width: 90%;
    margin: 0% 5%;
}
.updates_table {
	font-size: 125%;
	display: -webkit-inline-box;
	display: inline-block;
	max-height: 800px;
	max-width: 100%;
	overflow: auto;
	padding: 0% 0% 1%;
}
.updates_table td, .updates_table th {
    padding: 0.4% 0%;
}
#all_questions, #all_suggestions {
	text-align: -webkit-center;
	text-align: center;
}
#confirmed_users_status1 {
	margin-left: 0%;
	background-color: gainsboro;
	background-image: url("/e2w/public/images/cruise_ship.jpg");
}
#confirmed_users_status2 {
    margin-left: 100%;
    background-color: darkgray;
    background-image: url("/e2w/public/images/disney-world2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
div#loading_image img {
    display: block;
    position: fixed;
    top: 20px;
    right: 225px;
    z-index: 11;
    border-radius: 100px;
}
/*Create new trip template*/
.content_info {
	position: relative;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	padding: 0% 0% 1%;
}
.content_info * {
	position: relative;
	color: white;
	z-index: 1;
}
.vacationDescription {
    margin: 0% 13%;
}
.content_info h2.tripDescription {
    text-align: -webkit-center;
    text-align: center;
    font-size: 175%;
}
.showTrip::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	opacity: 0.4;
	z-index: -2;
	border-radius: inherit;
}
.content_info h1.vacation_header {
	margin: 0% 0%;
	padding: 1% 1%;
	font-size: 350%;
	color: white;
}
.vacationItenerary, .vacationCost, .vacationPayments, .vacationInclusions {
    /* padding: 0% 5%; */
    /* max-width: 25%; */
    /* font-size: 115%; */
}
.vacationCost {
    /* display: -webkit-inline-box; */
    /* display: inline-block; */
    /* vertical-align: top; */
}
#page_terms_and_conditions {
    padding: 1% 0%;
}
.paymentInstructions {
    /* margin: 0% 20%; */
}
.carouselTripDescription {
    padding: 5px 10px;
    margin: 20px 40px;
    background: rgba(135, 190, 222, 0.75);
    color: whitesmoke;
    border-radius: 10px;
}

.suggestionMobile {
	background: chocolate;
    padding: 10px 0px;
    border-radius: 10px;
    margin: 10px -15px;
    color: whitesmoke;
}

/*Smartphones portrait*/
@media only screen and (max-width:575px) {
.showTripMobile::after {
	content: "";
    background-image: inherit;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.card-img-top {
	height: 250px;
	max-height: 250px;
}

.suggestionResultsPercent {
    margin: 0% 5% 10%;
}

div#suggestion_results_div {
    border: solid 2px;
    border-radius: 10px;
	background: bisque;
}

.flashMessage {
    padding: 20px;
    left: 5%;
    width: 90%;
}

.vacationDescription {
    margin: 0% 0%;
}

.vacationDescription h2 {
	font-size: 100% !important;
}

.mobileLocationFlexShow {
	background: linear-gradient(transparent, whitesmoke, white, whitesmoke, transparent);
}
.panel-body {
    background: rgba(95, 158, 160, 0.25);
}
.newUser {
    padding: 0% 2% 0%;
}
.addNewTrip {
    margin: 6% 2%;
}
.custom-file {
    max-width: 100%;
}
.addPictures {
    margin: 2% 2%;
}
.addPictures input[type="submit"] {
    width: 50%;
}
.editTripInfo .newTripPhoto {
	height: 300px;
	width: 100%;
	max-width: 100%;
}
.addInput {
    margin-left: 1%;
}
}
/*Coverage between iPad and Smartphone*/
@media only screen and (min-width:576) {
div#app::after {
	content: "";
	position: initial;
	background-image: initial;
	background-size: initial;
	background-position: initial;
	background-repeat: initial;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

div#app {
	background-attachment: fixed;
	background-image: url("/images/Jacksonville_Skyline_Night_Panorama_Digon3.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat:no-repeat;
}

.pictures_east_and_west_btns, #action_btns {
    display:none;
}

#mobile_action_btns {
	display: block;
}

.mobileBtns {
    text-align: -webkit-center;
    text-align: center;
    display: none;
}

.mobileBtns button {
	display: -webkit-inline-box;
	display: block;
	width: 100%;
	/* margin: 0 auto; */
	border: none;
	background-color: transparent;
}

.mobileBtns button:not(:last-of-type) {
    border-bottom: solid 1px;
}

img.menuImg {
    max-width: 20px;
    vertical-align: middle;
}

div.mobileMenuBtn {
    margin: 0% 25% 1%;
    padding: 2% 0% 0%;
    font-size: 25px;
    text-align: -webkit-center;
    text-align: center;
}

#main_content {
    width: initial;
    margin: 0% auto;
    display: block;
}

button#see_contacts_btn {
	width: 100%;
	opacity: 0.9;
	font-size: 125px;
}

.card-img-top {
	height: 325px;
	max-height: 325px;
}

.mobileLocationFlexShow {
	background: linear-gradient(transparent, whitesmoke, white, whitesmoke, transparent);
}
}

/*Coverage for small screens but not devices*/
@media only screen and (min-width:768px) {
.terms_cost_div.editTripInfo::after, 
.terms_payment_div.editTripInfo::after, 
.terms_conditions_div.editTripInfo::after {
	display: none;
}
.editTripInfo input, .editTripInfo textarea {
    width: 51%;
    /* padding: 1% 0% 1% 3%; */
    font-size: 130%;
}
.editTripInfo select {
    width: 54%;
}
.adminDiv {
    /* max-width: 70%; */
    /* width: 70%; */
    /* left: 30%; */
    /* top: 9%; */
    /* padding: 8% 0% 2% 0%; */
}
#navi {
    max-width: 25%;
    min-height: 100%;
    width: 25%;
    margin: 8% 0% 0% 0%;
}
ul#navi_list {
    font-size: 120%;
    position: relative;
    margin: 0% 5%;
    padding: 10% 0% 10% 5%;
}
.editSelect, .pictureSelect, .userSelect {
    width: 50%;
    margin: 0% 25% 2%;
}

h1.pageTopicHeader {
    padding: 0% 1%;
    margin: 4% 0%;
}
#location_page_header h1 {
    margin: 4% 0%;
}
.newActivities {
    padding: 0% 0% 0% 0%;
}
.newUser {
	padding: 0% 5% 0% 0%;
}
.newActivities .newIndActivity input {
    padding: 0.5% 1%;
    border-radius: 5px;
    max-width: 28%;
    width: 28%;
}
.newActivities .newIndActivity input[type="date"] {
    padding: 0% 0.5% 0% 0%;
    border-radius: 5px;
}
form.addActivity input[type="submit"], form.addUser input[type="submit"],
#pictures_page_header input[type="submit"] {
    margin: 1% 3% 0% 0%;
    padding: 1%;
}
#pictures_page_header input[type="submit"] {
    position: absolute;
    top: 3%;
    right: 2%;
}
.newUser .newUserPhone input.profileInputPhone1, 
.newUser .newUserPhone input.profileInputPhone2, 
.newUser .newUserPhone input.profileInputPhone3 {
    max-width: 28.6%;
    width: 28.6%;
}
.allPicturesDiv {
    width: 45%;
}
/*.allPicturesDiv img {
    max-width: 100%;
    max-height: 200px;
    height: 100%;
    border-radius: 10px;
    margin: 0% 0% -1%;
    border: solid 1.5px;
    box-shadow: 0px 0px 10px gray;
}*/
.allPicturesDiv .pictureCaption {
    padding: 3% 1%;
}
.addPictures {
    margin: 5%;
}
.removeIndPicture {
    max-width: 45%;
    width: 43%;
    min-height: 200px;
}
.removeIndPicture h3 {
    max-width: 90%;
    width: 90%;
    display: inline-block;
    text-align: -webkit-left;
    text-align: left;
    padding: 0% 0% 0% 2%;
}
.removeIndPicture img {
    height: 200px;
    margin-bottom: -2%;
}
table#suggestions_table {
    max-width: 100%;
    width: 95%;
    margin: 0% 0% 0%;
}
table#questions_table {
    width: 95%;
    margin: 5% 5% 0% 0%;
}
th.question_email_data, #questions_table tr.name_data_rows_header th:last-of-type, #questions_table .name_data:last-of-type, .name_data:nth-of-type(4) {
    display: none;
}
tr.name_data_rows_header th:nth-of-type(3) {
    border-top-right-radius: 10px;
}
tr.name_data_rows_question:nth-of-type(3) td:last-of-type {
    border-bottom-right-radius: 10px;
}
h1#admin_page_header {
	padding: 1% 8% 2%;;
}
}

/*Coverage between iPad and Smartphone*/
@media only screen and (min-width:992px) {
.maine_modal_confirmation_box, .maine_modal {
    width: 56%;
    min-height: 50%;
    top: 15%;
    left: 0%;
    margin: 0% 18.5% 0% 25%;
}
.maine_modal_error {
    max-height: 40%;
    min-height: 10%;
}
.maine_modal_picture {
    top: 19%;
}
input.adminPin {
    right: 5%;
}
#main_content {
    /* min-height: 1040px; */
}
#suggestion_btn {
    top: 27.5%;
}
#question_btn {
    top: 15.2%;
}
#home_btn {
    top: 2.8%;
}
#contact_us_btn {
    top: 39.9%;
}
#about_us_btn {
    top: 52.3%;
}
#admin_page_btn {
	top: 63%;
}
.whats_next_w {
    margin: 6.3% 12% 2%;
    max-width: 76%;
    width: 76%;
}
.form_tables {
	max-width: 30%;
	top: 31.5%;
	right: 0.5%;
}
p.contact_name {
	background-color: white;
	margin: 0px;
	text-align: center;
}
.editTripInfo input, .editTripInfo textarea {
    width: 37.5%;
    /* padding: 1% 0% 1% 3%; */
    font-size: 130%;
}
.editTripInfo select {
    width: 54%;
}
.adminDiv {
    /* max-width: 70%; */
    /* width: 70%; */
    /* left: 25%; */
    /* top: 9%; */
    /* padding: 8% 0% 2% 5%; */
}
#navi {
    max-width: 25%;
    min-height: 100%;
    width: 25%;
    margin: 8% 0% 0% 0%;
}
ul#navi_list {
    font-size: 120%;
    position: relative;
    margin: 0% 5%;
    padding: 10% 0% 10% 5%;
}
.editSelect, .pictureSelect, .userSelect {
    width: 50%;
    margin: 0% 25% 2%;
}

.trip_edit_div {
    margin: 2% 0%;
    padding: 2% 3%;
}
.editTripInfo span:not(.custom-file-control) {
    width: 39%;
}
.editTripInfo select {
    width: 40%;
}
h1.pageTopicHeader {
    padding: 0% 1%;
    margin: 4% 0%;
}
#location_page_header h1 {
    margin: 4% 0%;
}
.newActivities {
    padding: 0% 0% 0% 0%;
}
.newUser {
	padding: 0% 10% 0% 5%;
}
.newActivities .newIndActivity input {
    padding: 0.5% 1%;
    border-radius: 5px;
    max-width: 28%;
    width: 28%;
}
.newActivities .newIndActivity input[type="date"] {
    padding: 0% 0.5% 0% 0%;
    border-radius: 5px;
}
form.addActivity input[type="submit"], form.addUser input[type="submit"],
#pictures_page_header input[type="submit"] {
    margin: 1% 3% 0% 0%;
    padding: 1%;
}
#pictures_page_header input[type="submit"] {
    position: absolute;
    top: 3%;
    right: 2%;
}
.newUser .newUserPhone input.profileInputPhone1, 
.newUser .newUserPhone input.profileInputPhone2, 
.newUser .newUserPhone input.profileInputPhone3 {
    max-width: 29.1%;
    width: 29%;
}
.allPicturesDiv {
    width: 30.8%;
    max-width: 31%;
}
/*.allPicturesDiv img {
    max-width: 100%;
    max-height: 200px;
    height: 100%;
    border-radius: 10px;
    margin: 0% 0% -1%;
    border: solid 1.5px;
    box-shadow: 0px 0px 10px gray;
}*/
.allPicturesDiv .pictureCaption {
    padding: 3% 1%;
}
.addPictures {
    margin: 5%;
}
.removeIndPicture {
    max-width: 31%;
    width: 28.6%;
    min-height: 200px;
}
.removeIndPicture h3 {
    max-width: 85%;
    width: 85%;
    display: inline-block;
    text-align: -webkit-left;
    text-align: left;
    padding: 0% 0% 0% 2%;
}
.removeIndPicture img {
    height: 200px;
    margin-bottom: -2.5%;
}
table#suggestions_table {
    max-width: 100%;
    width: 95%;
    margin: 0% 0% 0%;
}
table#questions_table {
    width: 95%;
    margin: 5% 5% 0% 0%;
}
th.question_email_data, #questions_table tr.name_data_rows_header th:last-of-type, #questions_table .name_data:last-of-type, .name_data:nth-of-type(4) {
    display: none;
}
tr.name_data_rows_header th:nth-of-type(3) {
    border-top-right-radius: 10px;
}
tr.name_data_rows_question:nth-of-type(3) td:last-of-type {
    border-bottom-right-radius: 10px;
}
h1#admin_page_header {
	padding: 1% 8% 3%;
}
.editTripInfo {
    margin: 1% 0%;
}
.editTripInfo .oi {
    margin: 0% 2% 0% -5.9% !important;
}
.trip_location_div input[type="submit"] {
    min-width: initial;
    right: 1%;
    padding: 3% 1%;
}
}

@media only screen and (max-width:1199px) {
	div#app::after {
		content: "";
		position: initial;
		background-image: initial;
		background-size: initial;
		background-position: initial;
		background-repeat: initial;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}

	div#app {
		background-attachment: fixed;
		background-image: url("/images/Jacksonville_Skyline_Night_Panorama_Digon3.jpg");
		background-size: cover;
		background-position: center center;
		background-repeat:no-repeat;
		min-height: 100vh;
	}

	.mobileNavBar {
		background: #f2f2f2;
	}
	
	.carouselImage {
		background-size: cover !important;
		background-position: center center !important;
		background-repeat:no-repeat !important;
	}
	
	.carousel-caption {
		z-index: 1;
	}
	
	.carouselTripDescription {
		margin: 20px 100px;
	}
	
	#headingOne {
		background: cadetblue;
	}
	
	#headingTwo {
		background: #77c2c5;
	}
	
	#headingThree {
		background: #336062;
	}
	
	#headingFour{
		background: #33c1b4f5;
	}
	
	#headingOne a, #headingTwo a, #headingThree a, #headingFour a {
		color: whitesmoke;
		font-size: 165%;
	}
	
	.trip_edit_div {
		margin: 0%;
		padding: 0%;
		background-color: white;
		border-radius: 0px;;
	}
	
	.tripEvents, .tripUsers {
		margin: 0% 0%;
		padding: 0% 0%;
	}
	
	.tripEvents ul:nth-of-type(even), .tripUsers ul:nth-of-type(even) {
		background: #e4d2bb;
	}
	
	.trip_location_div input[type="submit"] {
		position: initial;
		min-width: 140px;
		top: 43.5%;
		right: 5%;
		z-index: 4;
	}
}

/*Larger screens*/
@media only screen and (min-width:1200px) {
.terms_cost_div.editTripInfo::after, .terms_payment_div.editTripInfo::after,
.terms_conditions_div.editTripInfo::after {
    content: "- Separate with semicolon";
    position: absolute;
    right: -6%;
    top: 35%;
    color: white;
    font-size: initial;
}
#pictures_page_header input[type="submit"] {
    top: 50%;
    right: 5%;
}
.newUser {
    padding: 0% 20% 0%;
}
.tripEvents, .tripUsers {
    /* padding: 2% 1%; */
}
.tripEvents .editActivity input[type="submit"] {
    left: 1%;
    top: 65px;
}
form.addUser input[type="submit"], form.addActivity input[type="submit"] {
    margin: 6.2% 10.2% 0% 0%;
    padding: 0.7% 1%;
}
.editTripInfo input, .editTripInfo textarea {
	width: 41.5%;
}
.removeIndPicture {
    max-width: 30%;
    width: 28.7%;
    min-height: 250px;
    display: -webkit-inline-box;
    display: inline-block;
    position: relative;
    /* display: table; */
    padding: 0% 0%;
    margin: 1% 1.9%;
    border-radius: 10px;
    border: solid 2px;
    box-shadow: 0px 0px 10px black;
}
.removeIndPicture h3 {
    max-width: 90%;
    width: 90%;
    display: inline-block;
    text-align: -webkit-left;
    text-align: left;
    padding: 0% 0% 0% 2%;
}
.removeIndPicture img {
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 300px;
    margin-bottom: -1%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.removeIndPicture input {
    display: -webkit-inline-box;
}
#select_trip_for_new_activity, #select_trip_for_new_user, #select_trip_for_new_pictures, #select_trip_for_remove_pictures, #select_trip_for_pictures, #select_user_for_edit {
	padding: 0.2% 0%;
	width: 50%;
	margin: 0% 25%;
	border-radius: 5px;
	border: solid 2px;
	font-size: 140%;
}

.trip_edit_div {
    padding: 2%;
}
.trip_edit_div div span:not(.custom-file-control) {
    width: 35%;
    display: inline-block;
    margin: 0.5% 0%;
    padding: 1% 0%;
    border-radius: 5px;
}
.trip_location_month select,
.trip_location_year select,
.trip_completed_div select,
.show_trip_div select {
    width: 41.5%;
    padding: 1% 0% 1% 3%;
    border: inset 2px;
}
.trip_edit_div input:not([type="file"]) {
	padding: 1%;
}

.trip_location_header {
    padding: 2% 5%;
}
.trip_location_header input {
}
.trip_location_header h2 {
    margin: 0%;
}

.allPicturesDiv {
    display: inline-block;
    position: relative;
    width: 22%;
    border-radius: 10px;
    margin: 0.5% 1.33%;
    padding: 0% 0%;
}
.allPicturesDiv img {
    max-width: 100%;
    max-height: 200px;
    width: 275px;
    height: 100%;
    border-radius: 10px;
    margin: 0% 6% -1%;
    border: solid 1.5px;
    box-shadow: 0px 0px 10px gray;
}
.allPicturesDiv .pictureCaption {
    margin: 0% 6%;
    position: absolute;
    left: 0.5%;
    bottom: 1%;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    max-width: 269px;
}
.addPictures {
    margin: 1% 25%;
}
.newActivities {
	padding: 0% 10% 0%;
}
.newActivities .newIndActivity input {
	padding: 0.5% 1%;
	border-radius: 5px;
	width: 30.3%;
}
.newUser .newUserFirst input, .newUser .newUserLast input, .newUser .newUserEmail input, .newUser .newUserNotes textarea, .newUser .newAdminInput input {
	width: 97%;
	font-size: 115%;
}
.newUser .newAdminInput select {
    font-size: 115%;
    width: 99.9%;
}
.newUser .newAdminInput input[type="submit"] {
    margin: 4% 20%;
    padding: 1%;
    width: 60%;
}
.newUser .newUserNotes textarea {
}
.newUser .newUserPhone input.profileInputPhone1,
.newUser .newUserPhone input.profileInputPhone2,
.newUser .newUserPhone input.profileInputPhone3 {
	max-width: 30.235%;
	width: 29%;
}
.newActivities .newIndActivity input[type="date"] {
	padding: 0% 1%;
	border-radius: 5px;
}
form.addActivity input[type="submit"] {
}
form.addUser input[type="submit"] {
}
}
/*Even Larger Screens*/
@media only screen and (min-width:1400px) {
.maine_modal {
    font-size: 120%;
}
.maine_modal_picture {
    width: 30%;
    top: 15%;
    margin: 0% 35%;
}
#all_questions tr.name_data_rows_header th.question_data {
    min-width: 750px;
}
#all_questions tr.name_data_rows_header th.question_email_data {
    min-width: 350px;
}
button#prevCategory {
    right: 250px;
}
button#nextCategory {
    right: 150px;
}
.addInput {
    margin-left: 35.5%;
}
.trip_location_div input[type="submit"] {
    top: 43.5%;
    right: 5%;
}
}